<div class="text-center">
  <br/><br/>
  <% if @stores.length>0 %>
    <% @stores.each do |store| %>
      <h2 class="recipe-name-index"><%= store["name"] %></h2>
      <h4><%= store["vicinity"] %></h4>
      <br/>
    <% end %>
  <% else %>
    <h3> No stores in 3 miles radius </h3>
  <% end %>
</div>
