@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');

.background-main{
  background: image-url("background-main.jpg");
  min-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
.background-other{
  background: image-url("background-other.jpg");
  min-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
.header {
  background-color: #C6003B;
}

.site-title a{
  color: #FFFFFF;
  font-family: 'Fugaz One', cursive;
}
