.hideEditButton{
  display: none;
}

.showEditButton{
  display: inline;
}

.hideDeleteButton{
  display: none;
}

.showDeleteButton{
  display: inline;
}

.searchResult{
  display: inline-block
}

.recipe-show{
  background-color: #EAEAEA;
  opacity: 0.75;
}
